/**/*.o
src/.idea/
src/cmake-build-debug
src/CMakeLists.txt
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
libtool
ltmain.sh
m4/
src/.deps/
src/.libs/
src/FreeCell
src/Makefile
src/Makefile.in
src/libFreeCell.la
src/libs/.deps/
src/libs/.dirstamp
src/libs/FreeCell_config.h.in
src/libs/FreeCell_config.h.in~
src/libs/holders/.deps/
src/libs/holders/.dirstamp
src/libs/holders/libFreeCell_la-endgame.lo
src/libs/holders/libFreeCell_la-placeholder.lo
src/libs/holders/libFreeCell_la-safehouse.lo
src/libs/libFreeCell_la-card.lo
src/libs/libFreeCell_la-drawSystem.lo
src/libs/libFreeCell_la-game.lo
src/libs/libFreeCell_la-menu.lo
src/libs/libFreeCell_la-stats.lo
src/libs/stamp-h1
